Insert Dependencies

In [1]:
import pandas as pd
import os
import glob

Access Files

In [2]:
# access all files in folder on computer
path2013 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2013\**\*.csv' # use your path
all_rec = glob.iglob(path2013, recursive=True)
# df = (pd.read_csv(f) for f in all_rec)
# big_df = pd.concat(df, ignore_index=True)

In [3]:
#create one file for files from 2013
df2013 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2013, recursive=True)), ignore_index=True)

In [4]:
path2014 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2014\**\*.csv' # use your path
all_rec = glob.iglob(path2014, recursive=True)

In [5]:
df2014 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2014, recursive=True)), ignore_index=True)

In [6]:
path2015 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2015\**\*.csv' # use your path
all_rec = glob.iglob(path2015, recursive=True)
df2015 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2015, recursive=True)), ignore_index=True)

In [7]:
path2016Low = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2016\Lower\**\*.csv' # use your path
all_rec = glob.iglob(path2016Low, recursive=True)
df2016Low = pd.concat((pd.read_csv(f) for f in glob.iglob(path2016Low, recursive=True)), ignore_index=True)

In [8]:
path2016Up = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2016\Upper\**\*.csv' # use your path
all_rec = glob.iglob(path2016Up, recursive=True)
df2016Up = pd.concat((pd.read_csv(f) for f in glob.iglob(path2016Up, recursive=True)), ignore_index=True)

In [9]:
path2017tripdataU = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2017\tripdata\Upper\**\*.csv' # use your path
all_rec = glob.iglob(path2017tripdataU, recursive=True)
df2017tripdataU = pd.concat((pd.read_csv(f) for f in glob.iglob(path2017tripdataU, recursive=True)), ignore_index=True)

In [10]:
path2017tripdataL = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2017\tripdata\Lower\**\*.csv' # use your path
all_rec = glob.iglob(path2017tripdataL, recursive=True)
df2017tripdataL = pd.concat((pd.read_csv(f) for f in glob.iglob(path2017tripdataL, recursive=True)), ignore_index=True)

In [11]:
path2017JC = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2017\JC\**\*.csv' # use your path
all_rec = glob.iglob(path2017JC, recursive=True)
df2017JC = pd.concat((pd.read_csv(f) for f in glob.iglob(path2017JC, recursive=True)), ignore_index=True)

In [12]:
path2018 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2018\**\*.csv' # use your path
all_rec = glob.iglob(path2018, recursive=True)
df2018 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2018, recursive=True)), ignore_index=True)

In [13]:
path2019 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2019\**\*.csv' # use your path
all_rec = glob.iglob(path2019, recursive=True)
df2019 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2019, recursive=True)), ignore_index=True)

In [14]:
path2020 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2020\**\*.csv' # use your path
all_rec = glob.iglob(path2020, recursive=True)
df2020 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2020, recursive=True)), ignore_index=True)

In [15]:
path2021 = r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\2021\**\*.csv' # use your path
all_rec = glob.iglob(path2021, recursive=True)
df2021 = pd.concat((pd.read_csv(f) for f in glob.iglob(path2021, recursive=True)), ignore_index=True)

Look for and remove nulls from tables

In [7]:
df2013.count()

tripduration               5037185
starttime                  5037185
stoptime                   5037185
start station id           5037185
start station name         5037185
start station latitude     5037185
start station longitude    5037185
end station id             5037185
end station name           5037185
end station latitude       5037185
end station longitude      5037185
bikeid                     5037185
usertype                   5037185
birth year                 5037185
gender                     5037185
dtype: int64

In [16]:
df2013.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2013.csv', index=False)

In [8]:
df2014.count()

tripduration               8081216
starttime                  8081216
stoptime                   8081216
start station id           8081216
start station name         8081216
start station latitude     8081216
start station longitude    8081216
end station id             8081216
end station name           8081216
end station latitude       8081216
end station longitude      8081216
bikeid                     8081216
usertype                   8081216
birth year                 7868282
gender                     8081216
dtype: int64

In [9]:
cleandf2014 = df2014.dropna()

In [10]:
cleandf2014.count()

tripduration               7868282
starttime                  7868282
stoptime                   7868282
start station id           7868282
start station name         7868282
start station latitude     7868282
start station longitude    7868282
end station id             7868282
end station name           7868282
end station latitude       7868282
end station longitude      7868282
bikeid                     7868282
usertype                   7868282
birth year                 7868282
gender                     7868282
dtype: int64

In [11]:
cleandf2014.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2014.csv', index=False)

In [12]:
df2015.count()

tripduration               9937969
starttime                  9937969
stoptime                   9937969
start station id           9937969
start station name         9937969
start station latitude     9937969
start station longitude    9937969
end station id             9937969
end station name           9937969
end station latitude       9937969
end station longitude      9937969
bikeid                     9937969
usertype                   9937969
birth year                 8626591
gender                     9937969
dtype: int64

In [13]:
cleandf2015 = df2015.dropna()

In [14]:
cleandf2015.count()

tripduration               8626591
starttime                  8626591
stoptime                   8626591
start station id           8626591
start station name         8626591
start station latitude     8626591
start station longitude    8626591
end station id             8626591
end station name           8626591
end station latitude       8626591
end station longitude      8626591
bikeid                     8626591
usertype                   8626591
birth year                 8626591
gender                     8626591
dtype: int64

In [15]:
cleandf2015.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2015.csv', index=False)

In [23]:
df2016Low.count()

tripduration               10262649
starttime                  10262649
stoptime                   10262649
start station id           10262649
start station name         10262649
start station latitude     10262649
start station longitude    10262649
end station id             10262649
end station name           10262649
end station latitude       10262649
end station longitude      10262649
bikeid                     10262649
usertype                   10262649
birth year                  8979304
gender                     10262649
dtype: int64

In [24]:
cleandf2016Low = df2016Low.dropna()

In [25]:
cleandf2016Low.count()

tripduration               8979304
starttime                  8979304
stoptime                   8979304
start station id           8979304
start station name         8979304
start station latitude     8979304
start station longitude    8979304
end station id             8979304
end station name           8979304
end station latitude       8979304
end station longitude      8979304
bikeid                     8979304
usertype                   8979304
birth year                 8979304
gender                     8979304
dtype: int64

In [50]:
cleandf2016Low.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2016Low.csv', index=False)

In [26]:
df2016Up.count()

Trip Duration              3583006
Start Time                 3583006
Stop Time                  3583006
Start Station ID           3583006
Start Station Name         3583006
Start Station Latitude     3583006
Start Station Longitude    3583006
End Station ID             3583006
End Station Name           3583006
End Station Latitude       3583006
End Station Longitude      3583006
Bike ID                    3583006
User Type                  3547135
Birth Year                 3279488
Gender                     3583006
dtype: int64

In [27]:
cleandf2016Up = df2016Up.dropna()

In [28]:
cleandf2016Up.count()

Trip Duration              3243672
Start Time                 3243672
Stop Time                  3243672
Start Station ID           3243672
Start Station Name         3243672
Start Station Latitude     3243672
Start Station Longitude    3243672
End Station ID             3243672
End Station Name           3243672
End Station Latitude       3243672
End Station Longitude      3243672
Bike ID                    3243672
User Type                  3243672
Birth Year                 3243672
Gender                     3243672
dtype: int64

In [49]:
cleandf2016Up.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2016Up.csv', index=False)

In [29]:
cleandf2017tripdataU = df2017tripdataU.dropna()

In [30]:
cleandf2017tripdataU.count()

Trip Duration              2118859
Start Time                 2118859
Stop Time                  2118859
Start Station ID           2118859
Start Station Name         2118859
Start Station Latitude     2118859
Start Station Longitude    2118859
End Station ID             2118859
End Station Name           2118859
End Station Latitude       2118859
End Station Longitude      2118859
Bike ID                    2118859
User Type                  2118859
Birth Year                 2118859
Gender                     2118859
dtype: int64

In [48]:
cleandf2017tripdataU.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2017tripdataU.csv', index=False)

In [31]:
cleandf2017tripdataL = df2017tripdataL.dropna()

In [32]:
cleandf2017tripdataL.count()

tripduration               4036339
starttime                  4036339
stoptime                   4036339
start station id           4036339
start station name         4036339
start station latitude     4036339
start station longitude    4036339
end station id             4036339
end station name           4036339
end station latitude       4036339
end station longitude      4036339
bikeid                     4036339
usertype                   4036339
birth year                 4036339
gender                     4036339
dtype: int64

In [47]:
cleandf2017tripdataL.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2017tripdataL.csv', index=False)

In [33]:
cleandf2017JC = df2017JC.dropna()

In [34]:
cleandf2017JC.count()

tripduration               165095
starttime                  165095
stoptime                   165095
start station id           165095
start station name         165095
start station latitude     165095
start station longitude    165095
end station id             165095
end station name           165095
end station latitude       165095
end station longitude      165095
bikeid                     165095
usertype                   165095
birth year                 165095
gender                     165095
dtype: int64

In [46]:
cleandf2017JC.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\cleandf2017JC.csv', index=False)

In [35]:
df2018.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start station id           353892
start station name         353892
start station latitude     353892
start station longitude    353892
end station id             353892
end station name           353892
end station latitude       353892
end station longitude      353892
bikeid                     353892
usertype                   353892
birth year                 353892
gender                     353892
dtype: int64

In [45]:
df2018.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2018.csv', index=False)

In [36]:
df2019.count()

tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64

In [44]:
df2019.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2019.csv', index=False)

In [37]:
df2020.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [43]:
df2020.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2020.csv', index=False)

In [38]:
df2021.count()

tripduration               33192
starttime                  33192
stoptime                   33192
start station id           33192
start station name         33192
start station latitude     33192
start station longitude    33192
end station id             33192
end station name           33192
end station latitude       33192
end station longitude      33192
bikeid                     33192
usertype                   33192
birth year                 33192
gender                     33192
dtype: int64

In [42]:
df2021.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\df2021.csv', index=False)

Create test case for "Gender Only" CSV file for visualization

In [40]:
gender2018 = df2018.loc[df2018['gender'] != 0,]
gender2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [41]:
gender2018.to_csv(r'C:\Users\emjcr\Desktop\Butler Homework\Tableau-Challenge\201307-201402-citibike-tripdata\CSV\gender2018.csv', index=False)